<!DOCTYPE html>
<html>
<body>
    <h1><a href="/feeds">feeds</a> > items > {{ .source.Name}}</h1>

    {{ if .message }}<div>{{.message}}</div>{{ end }}

    <form method="POST"  action="/feeds/{{ .source.ID}}/refresh">
        <button>Refresh</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>feed_id</th>
                <th>guid</th>
                <th>title</th>
            </tr>
        </thead>
        <tbody>
            {{ range .items }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .FeedID }}</td>
                <td>{{ .GUID }}</td> 
                <td>{{ .Title }}</td> 
                <td>{{ .PubDate }}</td> 
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>
</html>
